n8n/office-tv-cloudinary-webflow-sync.json
{
  "name": "office-tv-cloudinary-webflow-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        480,
        432
      ],
      "id": "9c5929d8-cbd9-4797-9f7e-a8c88671df3b",
      "name": "Weekly Trigger - Webflow Sync"
    },
    {
      "parameters": {
        "path": "12df06f2-6c1c-43e6-a242-85600cc3df0c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        480,
        656
      ],
      "id": "7c8fce4d-1d57-4a80-a554-0dd875e1a4ca",
      "name": "Webhook - Manual Sync Trigger",
      "webhookId": "12df06f2-6c1c-43e6-a242-85600cc3df0c"
    },
    {
      "parameters": {
        "url": "https://api.webflow.com/v2/collections/696e23f9eb0331c85cd9df4b/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        544
      ],
      "id": "a7aa4dec-8a35-4723-873b-7ee9beea6e22",
      "name": "Fetch Current Webflow Items",
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "flfbT4txHyaMfX1Q",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.cloudinary.com/v1_1/workiz/resources/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "prefix",
              "value": "il-tv-presentation"
            },
            {
              "name": "type",
              "value": "upload"
            },
            {
              "name": "max_results",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        544
      ],
      "id": "ad39d0bf-3508-4065-bb67-7075c5063d45",
      "name": "Fetch Cloudinary Images",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "h3HTRirFzxShtpNb",
          "name": "Cloudinary Yev Workiz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from both inputs\nconst webflowData = $('Fetch Current Webflow Items').first().json;\nconst cloudinaryData = $('Fetch Cloudinary Images').first().json;\n\nconst webflowItems = webflowData.items || [];\nconst cloudinaryImages = cloudinaryData.resources || [];\n\n// Create lookup maps\nconst webflowByImageUrl = new Map();\nwebflowItems.forEach(item => {\n  const imageUrl = item.fieldData?.['image-url'];\n  if (imageUrl) {\n    webflowByImageUrl.set(imageUrl, item.id);\n  }\n});\n\nconst cloudinaryUrls = new Set(cloudinaryImages.map(img => img.secure_url));\n\n// Find items to delete (in Webflow but not in Cloudinary)\nconst toDelete = webflowItems.filter(item => {\n  const imageUrl = item.fieldData?.['image-url'];\n  return imageUrl && !cloudinaryUrls.has(imageUrl);\n}).map(item => item.id);\n\n// Find items to add (in Cloudinary but not in Webflow)\nconst toAdd = cloudinaryImages.filter(img => {\n  return !webflowByImageUrl.has(img.secure_url);\n}).map(img => {\n  const filename = img.public_id.split('/').pop();\n  const uniqueSlug = filename.toLowerCase().replace(/[^a-z0-9]/g, '-') + '-' + Date.now().toString(36);\n  return {\n    public_id: img.public_id,\n    url: img.secure_url,\n    filename: filename,\n    slug: uniqueSlug\n  };\n});\n\n// Items that exist in both (no action needed)\nconst unchanged = webflowItems.filter(item => {\n  const imageUrl = item.fieldData?.['image-url'];\n  return imageUrl && cloudinaryUrls.has(imageUrl);\n}).length;\n\nreturn [{\n  json: {\n    toDelete: toDelete,\n    toAdd: toAdd,\n    stats: {\n      webflowTotal: webflowItems.length,\n      cloudinaryTotal: cloudinaryImages.length,\n      toDeleteCount: toDelete.length,\n      toAddCount: toAdd.length,\n      unchangedCount: unchanged\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        544
      ],
      "id": "27413266-0b93-4de0-a89c-584014e03181",
      "name": "Calculate Diff (Webflow vs Cloudinary)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-items-to-delete",
              "leftValue": "={{ $json.stats.toDeleteCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        464
      ],
      "id": "34dc55a8-c5e7-4fad-bd15-24b763c7776e",
      "name": "Has Items To Delete?"
    },
    {
      "parameters": {
        "jsCode": "const toDelete = $('Calculate Diff (Webflow vs Cloudinary)').first().json.toDelete;\nreturn toDelete.map(id => ({ json: { id: id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        384
      ],
      "id": "e14d7ca6-d0f9-4019-8243-8d863eabc23b",
      "name": "Extract IDs to Delete"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.webflow.com/v2/collections/696e23f9eb0331c85cd9df4b/items/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        384
      ],
      "id": "313dea31-a068-4f17-8cc7-e4e359310800",
      "name": "Delete Removed Items from Webflow",
      "credentials": {
        "httpBearerAuth": {
          "id": "flfbT4txHyaMfX1Q",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        544
      ],
      "id": "65060b45-3afd-4b91-a021-6492345b1a49",
      "name": "Wait for Deletes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-items-to-add",
              "leftValue": "={{ $('Calculate Diff (Webflow vs Cloudinary)').first().json.stats.toAddCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        544
      ],
      "id": "a65a3d2e-9883-4b89-89fe-c216052f976f",
      "name": "Has Items To Add?"
    },
    {
      "parameters": {
        "jsCode": "const toAdd = $('Calculate Diff (Webflow vs Cloudinary)').first().json.toAdd;\nreturn toAdd.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        464
      ],
      "id": "b0dfccc9-843d-4271-bf47-25f2c6fdc01c",
      "name": "Extract Items to Add"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webflow.com/v2/collections/696e23f9eb0331c85cd9df4b/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"isArchived\": false,\n  \"isDraft\": false,\n  \"fieldData\": {\n    \"name\": \"{{ $json.filename }}\",\n    \"slug\": \"{{ $json.slug }}\",\n    \"image-url\": \"{{ $json.url }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2720,
        464
      ],
      "id": "29c035a4-f0a8-4e8b-84ef-261a1b68271a",
      "name": "Add New Items to Webflow",
      "credentials": {
        "httpBearerAuth": {
          "id": "flfbT4txHyaMfX1Q",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2928,
        544
      ],
      "id": "98178f5e-b0be-4ccf-95ab-44a8c7a89035",
      "name": "Wait for Adds"
    },
    {
      "parameters": {
        "jsCode": "const diffData = $('Calculate Diff (Webflow vs Cloudinary)').first().json;\n\n// Use a try-catch to handle cases where 'Add New Items' was skipped\nlet addedItems = [];\ntry {\n  addedItems = $('Add New Items to Webflow').all();\n} catch (e) {\n  // Node didn't execute, so addedItems remains an empty array\n}\n\n// Collect IDs of newly added items (safely)\nconst newItemIds = addedItems\n  .filter(item => item.json?.id)\n  .map(item => item.json.id);\n\nreturn [{\n  json: {\n    itemIds: newItemIds,\n    stats: diffData.stats,\n    message: `Sync complete: ${diffData.stats.toDeleteCount} removed, ${diffData.stats.toAddCount} added, ${diffData.stats.unchangedCount} unchanged`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        544
      ],
      "id": "8b3e3424-2618-408d-a406-34cc3d4b63d0",
      "name": "Prepare Publish Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-new-items",
              "leftValue": "={{ $json.itemIds.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3344,
        544
      ],
      "id": "4849e60d-54b1-4d9b-bbe9-d978724b359e",
      "name": "Has Items To Publish?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webflow.com/v2/collections/696e23f9eb0331c85cd9df4b/items/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { itemIds: $json.itemIds } }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3552,
        464
      ],
      "id": "918610e7-0f49-44d5-838e-face3a614e11",
      "name": "Publish New Items",
      "credentials": {
        "httpBearerAuth": {
          "id": "flfbT4txHyaMfX1Q",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3760,
        544
      ],
      "id": "73256962-ab26-474d-b80d-f9c5c705ed09",
      "name": "Wait for Publish"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TAKT3KV3",
          "mode": "id"
        },
        "text": "=:white_check_mark: *Webflow Slideshow Sync Complete*\n\n:wastebasket: Removed: {{ $('Calculate Diff (Webflow vs Cloudinary)').first().json.stats.toDeleteCount }}\n:heavy_plus_sign: Added: {{ $('Calculate Diff (Webflow vs Cloudinary)').first().json.stats.toAddCount }}\n:arrows_counterclockwise: Unchanged: {{ $('Calculate Diff (Webflow vs Cloudinary)').first().json.stats.unchangedCount }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3968,
        544
      ],
      "id": "a7fc640b-c749-4793-aedd-1dac51872d6a",
      "name": "Notify Slack - Sync Complete",
      "webhookId": "638e8f32-a2db-462a-aca9-2d86b9a26361",
      "credentials": {
        "slackApi": {
          "id": "auBNw6cyLbVnyrGi",
          "name": "Marketin Robot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09TAKT3KV3",
          "mode": "id"
        },
        "text": "=:x: *Webflow Slideshow Sync Failed*\n:warning: Error: {{ $json.error.message }}\n:round_pushpin: Node: {{ $json.error.node }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        3760,
        704
      ],
      "id": "fca56b0d-c711-4a7d-8b74-f211afb099c3",
      "name": "Notify Slack - Sync Error",
      "webhookId": "56f9a0cd-b1be-44dc-8691-e9756f71bf99",
      "credentials": {
        "slackApi": {
          "id": "auBNw6cyLbVnyrGi",
          "name": "Marketin Robot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cloudinary -> Webflow CMS Sync\n\n**Trigger:** Weekly + Webhook (after image upload)\n**Flow:**\n1. Fetch current Webflow items\n2. Fetch Cloudinary images\n3. Calculate diff (what to add/remove)\n4. Delete only removed items\n5. Add only new items\n6. Publish new items\n\n**Improvements:**\n- Diff-based sync (no more delete-all-then-recreate)\n- No downtime during sync\n- Detailed stats in Slack notification\n- Error handling",
        "height": 736,
        "width": 4544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        224
      ],
      "typeVersion": 1,
      "id": "08beb8bb-f385-4d59-b400-b6b1cdc59914",
      "name": "Sticky Note - Webflow Sync"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Trigger - Webflow Sync": {
      "main": [
        [
          {
            "node": "Fetch Current Webflow Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Sync Trigger": {
      "main": [
        [
          {
            "node": "Fetch Current Webflow Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Webflow Items": {
      "main": [
        [
          {
            "node": "Fetch Cloudinary Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cloudinary Images": {
      "main": [
        [
          {
            "node": "Calculate Diff (Webflow vs Cloudinary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Diff (Webflow vs Cloudinary)": {
      "main": [
        [
          {
            "node": "Has Items To Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items To Delete?": {
      "main": [
        [
          {
            "node": "Extract IDs to Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Deletes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract IDs to Delete": {
      "main": [
        [
          {
            "node": "Delete Removed Items from Webflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Removed Items from Webflow": {
      "main": [
        [
          {
            "node": "Wait for Deletes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Deletes": {
      "main": [
        [
          {
            "node": "Has Items To Add?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items To Add?": {
      "main": [
        [
          {
            "node": "Extract Items to Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Adds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Items to Add": {
      "main": [
        [
          {
            "node": "Add New Items to Webflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Items to Webflow": {
      "main": [
        [
          {
            "node": "Wait for Adds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Adds": {
      "main": [
        [
          {
            "node": "Prepare Publish Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish Payload": {
      "main": [
        [
          {
            "node": "Has Items To Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items To Publish?": {
      "main": [
        [
          {
            "node": "Publish New Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Publish",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Publish New Items": {
      "main": [
        [
          {
            "node": "Wait for Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Publish": {
      "main": [
        [
          {
            "node": "Notify Slack - Sync Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "525f9205-9e3e-4b57-99ac-e06acb6597f3",
  "meta": {
    "instanceId": "c65185ee08a244dcb6ee1c16ec55c7498e0424b2d7cc8b8b1dbb06664bc66ad6"
  },
  "id": "83mFH7JDCDXHOq_EccBK_",
  "tags": []
}